alias activate="source .venv/bin/activate"
alias t="touch"
alias h="cd $HOME"
alias r="cd $HOME/repositorio"
alias e="eza -l -g -h --icons"
alias ea="eza -l -a -g -h --icons"
alias sf='fzf --preview="bat --color=always {}" --bind="enter:execute(nano {+})"'
alias sd='cd ./$(fd --type d --hidden --exclude .git --exclude node_module --exclude .cache --exclude .npm --exclude .mozilla --exclude .meteor --exclude .nv --exclude .var --exclude .vscode| fzf)'
alias rm="rm -i"
alias paths='echo "${PATH}" | tr : "\n"'
